body {
  background-color: black;
  color: white;

  margin: 0;
}

.image-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding-bottom: 1.3rem;
}

.application {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.top-menu {
  display: flex;
  flex-direction: row;
}

.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.viewport {
  height: 100%;

  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  height: 1.3rem;
}

.fullscreen .bottom-menu {
  display: none;
}
.fullscreen .image-container {
  padding-bottom: 0rem;
}

