body {
  background-color: #111111;
  color: white;

  margin: 0;

  -webkit-user-select: none;
  user-select: none;
}

.image-container {
  width: 100%;
  height: 100%;
}

.application {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.top-menu {
  display: flex;
  flex-direction: row;
}

.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  background-color: #111111;
}

.viewport {
  height: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding-bottom: 1.3rem;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  height: 1.3rem;
}

.fullscreen .bottom-menu {
  display: none;
}
.fullscreen .image-container {
  padding-bottom: 0rem;
}

